.container{
    margin: 20px;
}

section{
    text-align: center;
    margin-top: 30px;
}

#columnButton{
    margin: 10px;
}


.row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card1{
    text-align: center;
    background-color: #FF6B6B;
    position: relative;
    flex: 1;
    max-width: 400px;
    height: 800;
    margin: 30px;
    padding: 40px;
}

.card2{
    text-align: center;
    background-color: #FFE66D;
    position: relative;
    flex: 1;
    max-width: 400px;
    height: 800;
    margin: 30px;
    padding: 40px;
}

.card3{
    text-align: center;
    background-color: #4ECDC4;
    position: relative;
    flex: 1;
    max-width: 400px;
    height: 800;
    margin: 30px;
    padding: 40px;
}
@media screen and (max-width: 768px){
.row{
    width: 100%;

}
}