// style to add breaks within the task outcome
.itemname, .taskdate, .taskcompletion, .taskestimate, .taskpriority, .itemsubmit{
  padding: 5px;
}

// styles the X of the button
.remove{
  background-color: red;
  color: white;
    outline: none;
    border: none;
    border-radius: 10%;
    margin: 5px;
}

// style to make sure that their is no bullet point
li{
  list-style: none;
  padding: 5px;
}

// style to the specific button to submit with
#itemsubmit {
  margin: 1.5rem 0rem 0.1rem 0rem;
  background-color: white;
  border-radius: 0.2rem;
  width: 100%;
  padding: 0.5rem 2.7rem;
  font-size: 1rem;
  color: #426ACF;
}

// styling the way the forms are
input, select{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

//styling the form to be flex
.form-group{
  display: flex;
}

// styling to make the cards all in the same row
.row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

// style of the card which houses the task list which is why it is smaller 
.card1{
    text-align: center;
    background-color: #426ACF;
    position: relative;
    flex: 1;
    max-width: 400px;
    height: 580px;
    margin: 30px;
    padding: 20px;  
   color: #fff;
}

// styles the specific heading of only card 1 to be white as it is contrast to the blue
.card1 h3{
  color: #fff;
}

// styling of card 2 
.card2{
    text-align: center;
    background-color: #FF6B6B;
    position: relative;
    flex: 1;
    max-width: 400px;
    height: 800px;
    margin: 30px;
    padding: 20px;
}
// styling of card 3
.card3{
    text-align: center;
    background-color: #FFE66D;
    position: relative;
    flex: 1;
    max-width: 400px;
    height: 800px;
    margin: 30px;
    padding: 20px;
}

// styling of card 4
.card4{
    text-align: center;
    background-color: #4ECDC4;
    position: relative;
    flex: 1;
    max-width: 400px;
    height: 800px;
    margin: 30px;
    padding: 20px;
}

// styling the outcome of the task list to have a white background to contrast the tasks
#itemlist{
  background-color: #fff;
  margin-top: 20px;
}

// making the cards responsive as they will go to a higher width once the page is decreased in size
@media screen and (max-width: 768px){
  .card1, .card2, .card3, .card4{
      width: 100%;
  
  }
  }
