h1{
  color: #fff;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2{
  color: #000;
  font-size: 24px;
  font-weight: 900; 
  letter-spacing: 1px;
  font-weight: lighter;

}

h3{
  color: #000;
  font-size: 24px;
  font-weight: 900; 
  letter-spacing: 1px;
  text-transform: uppercase;

}


h4 {
  color: #000;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 400; 

}

p{
 margin-top: 10px;
}