
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;900&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
  }
  // removing bullet points and styling the task list adding
  #tasklist {
    list-style-type: none;
    padding: 40px;
  }

  // #tasklist li{

  // }
  // li.tasklist {
  //   list-style-type: none;
  //   margin: 0;
  //   padding: 40px;
  // }
  
  /* button css */
  button{
    background-color: #426ACF;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 7px;
    font-size: 1rem;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  /* end of button css */
  
  /* start of navbar CSS */
  
  
  .container{
  /*   my screen size is larger than 1080 px so it will start for a 15 inch laptop */
    max-width: 1790px;
    margin: 0;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .menu a.is-active, .menu a:hover{
    background-color: #FF6B6B;
  }
  
  @media (min-width: 768px){
    .menu{
      display: flex;
    }
  }
  
  body{
    background: #eeeff4;
  }
  
  
.cards_wrap{
	padding: 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* makes 3 cards in a row using 33% */
.cards_wrap .card_item{
	padding: 15px 25px;
	width: 33%;
}

.cards_wrap .card_inner{
	background: #fff;
	border-radius: 5px;
	padding: 20px 20px;
	min-width: 225px;
	min-height: 315px;
	// max-height: 370px;
  max-height: 450px;
	width: 100%;
  // If overflow is clipped, a scroll-bar should be added to see the rest of the content	
  overflow: auto;

}


  /* header CSS */  
  
  // header for the nav bar
  .header a{
    color: #fff;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
  }
  
  /* responsive design for the cards */
  
  @media screen and (max-width: 1790px){
    .cards_wrap .card_item{
      width: 45%;
    }
    .wrapper .header {
      font-size: 16px;
      height: 60px;
      
    }
  }
  
  @media screen and (max-width: 768px){
    .cards_wrap .card_item{
      width: 100%;
    }
    .wrapper .header{
      font-size: 14px;
  }
  }
  
  @media screen and (max-width: 568px){
    .cards_wrap .card_item{
      width: 100%;
    }
    .wrapper .header{
      font-size: 12px;
  
  }
  }
  
  
  /* stop watch CSS */
  .watch {
    text-align: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    padding: 20px;
  }
  
  .watch .time {
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }
  
  .controls {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .controls button {
    appearance: none;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
  
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  
    background-color: #426ACF;
  
    transition: 0.4s;
    user-select: none;
  }
  
  .controls button:hover {
    opacity: 0.7;
  }
  

  /* stop watch CSS end  */
  
  
  // acronym CSS 

#acronym_container{
  text-align: center;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  height: 200px;
  align-items: center;

}

#acronym_result {
  display: block;
  height: 1.5rem;
  font-size: 30px;
}

#phrase_label{
  align-items: center;
  text-align: center;
  justify-content: center;
}

.phrase{
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 30px;
}